In [12]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [9]:
Train_data = pd.read_csv('./train(5).csv')

C:\Users\Akexander\AppData\Roaming\Python\Python38\site-packages\IPython\core\interactiveshell.py:3155: DtypeWarning: Columns (11,12,31) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [10]:
Train_data.head(5)

,ticket_id,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,violation_zip_code,mailing_address_str_number,mailing_address_str_name,city,...,clean_up_cost,judgment_amount,payment_amount,balance_due,payment_date,payment_status,collection_status,grafitti_status,compliance_detail,compliance
0,22056,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","INVESTMENT INC., MIDWEST MORTGAGE",2900.0,TYLER,NaN,3.0,S. WICKER,CHICAGO,...,0.0,305.0,0.0,305.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0
1,27586,"Buildings, Safety Engineering & Env Department","Williams, Darrin","Michigan, Covenant House",4311.0,CENTRAL,NaN,2959.0,Martin Luther King,Detroit,...,0.0,855.0,780.0,75.0,2005-06-02 00:00:00,PAID IN FULL,NaN,NaN,compliant by late payment within 1 month,1.0
2,22062,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","SANDERS, DERRON",1449.0,LONGFELLOW,NaN,23658.0,P.O. BOX,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN
3,22084,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","MOROSI, MIKE",1441.0,LONGFELLOW,NaN,5.0,ST. CLAIR,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN
4,22093,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","NATHANIEL, NEAL",2449.0,CHURCHILL,NaN,7449.0,CHURCHILL,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN

Разобьем исходную выборку на две части: тренировочную и тестовую, используя scikit-learn метод [train_test_split]

In [33]:
train, test = train_test_split(Train_data, test_size=0.3, shuffle=False)

In [34]:
print('Размер исходной выборки: {}\nРазмер тренировочной выборки: {}\nРазмер тестовой выборки: {}'
      .format(Train_data.shape, train.shape, test.shape)
)

Размер исходной выборки: (250306, 34)
Размер тренировочной выборки: (175214, 34)
Размер тестовой выборки: (75092, 34)

In [35]:
print('Определение среднего значения для признака payment_amount.\nСреднее значение исходной выборки: {}\nСреднее значение тренировочной выборки: {}\nСреднее значение тестовой выборки: {}' .format(Train_data["payment_amount"].mean(), train["payment_amount"].mean(), test["payment_amount"].mean()))

Определение среднего значения для признака payment_amount.
Среднее значение исходной выборки: 48.898986440596715
Среднее значение тренировочной выборки: 55.224980309792606
Среднее значение тестовой выборки: 34.138390241304