In [7]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import f1_score

Train_data = pd.read_csv('./train(5).csv')

C:\Users\Akexander\AppData\Roaming\Python\Python38\site-packages\IPython\core\interactiveshell.py:3155: DtypeWarning: Columns (11,12,31) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [8]:
Train_new_data = Train_data.loc[:, ['fine_amount', 'state_fee', 'late_fee', 'discount_amount', 'balance_due', 'compliance']]

In [9]:
Train_new_data

,fine_amount,state_fee,late_fee,discount_amount,balance_due,compliance
0,250.0,10.0,25.0,0.0,305.0,0.0
1,750.0,10.0,75.0,0.0,75.0,1.0
2,250.0,0.0,0.0,0.0,0.0,NaN
3,250.0,0.0,0.0,0.0,0.0,NaN
4,250.0,0.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...
250301,1000.0,0.0,0.0,0.0,0.0,NaN
250302,1000.0,0.0,0.0,0.0,0.0,NaN
250303,1000.0,0.0,0.0,0.0,0.0,NaN
250304,1000.0,0.0,0.0,0.0,0.0,NaN
250305,1000.0,0.0,0.0,0.0,0.0,NaN

In [10]:
Train_new_data = Train_new_data.dropna()
Train_new_data.shape

(159880, 6)

In [11]:
data = Train_new_data.drop(['compliance'], axis= 1)
target = Train_new_data['compliance']
trainDT, testDT, trainTRG,testTRG = train_test_split(data, target, test_size=0.3, shuffle=False)

In [12]:
tree = DecisionTreeClassifier(random_state=23)

In [20]:
tree.fit(trainDT,trainTRG)
train_pred = tree.predict(trainDT)
train_f1_score = f1_score(trainTRG,train_pred)
print('f1_score для train =',train_f1_score)

tree.fit(testDT,testTRG)
test_pred = tree.predict(testDT)
test_f1_score = f1_score(testTRG,test_pred)
print('f1_score для train =',test_f1_score)

f1_score для train = 0.6607803184665308
f1_score для train = 0.6163717674509042

In [21]:
result = train_f1_score - test_f1_score
result

0.044408551015626685