In [27]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import f1_score

Train_data = pd.read_csv('./train(5).csv')

C:\Users\Akexander\AppData\Roaming\Python\Python38\site-packages\IPython\core\interactiveshell.py:3155: DtypeWarning: Columns (11,12,31) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [28]:
Train_new_data = Train_data.loc[:, ['fine_amount', 'state_fee', 'late_fee', 'discount_amount', 'balance_due', 'compliance']]

In [29]:
Train_new_data

,fine_amount,state_fee,late_fee,discount_amount,balance_due,compliance
0,250.0,10.0,25.0,0.0,305.0,0.0
1,750.0,10.0,75.0,0.0,75.0,1.0
2,250.0,0.0,0.0,0.0,0.0,NaN
3,250.0,0.0,0.0,0.0,0.0,NaN
4,250.0,0.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...
250301,1000.0,0.0,0.0,0.0,0.0,NaN
250302,1000.0,0.0,0.0,0.0,0.0,NaN
250303,1000.0,0.0,0.0,0.0,0.0,NaN
250304,1000.0,0.0,0.0,0.0,0.0,NaN
250305,1000.0,0.0,0.0,0.0,0.0,NaN

In [30]:
Train_new_data = Train_new_data.dropna()
Train_new_data.shape

(159880, 6)

In [31]:
data = Train_new_data.drop(['compliance'], axis= 1)
target = Train_new_data['compliance']
trainDT, testDT, trainTRG,testTRG = train_test_split(data, target, test_size=0.3, shuffle=False)

In [32]:
tree = DecisionTreeClassifier(random_state=23)

In [33]:
tree.fit(testDT,testTRG)
test_pred = tree.predict(testDT)
test_f1_score = f1_score(testTRG,test_pred)
print('f1_score для test =',test_f1_score)

f1_score для test = 0.6163717674509042

In [34]:
unique_compliance, counts_compliance = np.unique(Train_new_data['compliance'], return_counts=True)
print(dict(zip(unique_compliance, counts_compliance)))

min_count = min(counts_compliance)

{0.0: 148283, 1.0: 11597}

In [35]:
balanced_data = pd.DataFrame([])

for i in range(unique_compliance.shape[0]):
    new_data = Train_new_data.loc[Train_new_data['compliance'] == i][:min_count]
    balanced_data = pd.concat([balanced_data, new_data])

balanced_data

,fine_amount,state_fee,late_fee,discount_amount,balance_due,compliance
0,250.0,10.0,25.0,0.0,305.0,0.0
5,250.0,10.0,25.0,0.0,305.0,0.0
6,750.0,10.0,75.0,0.0,855.0,0.0
7,100.0,10.0,10.0,0.0,140.0,0.0
8,100.0,10.0,10.0,0.0,140.0,0.0
...,...,...,...,...,...,...
250186,200.0,10.0,20.0,0.0,0.0,1.0
250210,200.0,10.0,0.0,0.0,0.0,1.0
250211,200.0,10.0,0.0,0.0,0.0,1.0
250265,0.0,10.0,0.0,0.0,0.0,1.0
250290,200.0,10.0,0.0,0.0,0.0,1.0

In [36]:
data = balanced_data.drop(['compliance'], axis=1)
target = balanced_data['compliance']
trainDT, testDT, trainTRG, testTRG = train_test_split(data, target, test_size=0.3, shuffle=False)

In [37]:
tree = DecisionTreeClassifier(random_state=23)

In [38]:
tree.fit(testDT,testTRG)
test_pred = tree.predict(testDT)
test_f1_score = f1_score(testTRG,test_pred)
print('f1_score для test =',test_f1_score)

f1_score для test = 1.0