# Задание 5

Найдите признак, обозначающий дату, когда был выписан штраф. Найдите, сколько раз штраф был выписан на выходных и запишите это число в качестве ответа. Выходными считаются дни под номерами 5 и 6.

### Импорт библиотек

In [40]:
import numpy as np
import pandas as pd

### Загрузка данных

In [41]:
dfData = pd.read_csv("train.csv", encoding = 'ISO-8859-1', low_memory = False)
dfData.head()

,ticket_id,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,violation_zip_code,mailing_address_str_number,mailing_address_str_name,city,...,clean_up_cost,judgment_amount,payment_amount,balance_due,payment_date,payment_status,collection_status,grafitti_status,compliance_detail,compliance
0,22056,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","INVESTMENT INC., MIDWEST MORTGAGE",2900.0,TYLER,NaN,3.0,S. WICKER,CHICAGO,...,0.0,305.0,0.0,305.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0
1,27586,"Buildings, Safety Engineering & Env Department","Williams, Darrin","Michigan, Covenant House",4311.0,CENTRAL,NaN,2959.0,Martin Luther King,Detroit,...,0.0,855.0,780.0,75.0,2005-06-02 00:00:00,PAID IN FULL,NaN,NaN,compliant by late payment within 1 month,1.0
2,22062,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","SANDERS, DERRON",1449.0,LONGFELLOW,NaN,23658.0,P.O. BOX,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN
3,22084,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","MOROSI, MIKE",1441.0,LONGFELLOW,NaN,5.0,ST. CLAIR,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN
4,22093,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","NATHANIEL, NEAL",2449.0,CHURCHILL,NaN,7449.0,CHURCHILL,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN

### Вывод штрафов за выходные. Вариант 1

In [42]:
dfData.ticket_issued_date[pd.to_datetime(dfData.ticket_issued_date).dt.weekday > 4]

5         2004-05-01 11:50:00
24        2004-11-13 15:30:00
25        2004-11-13 15:30:00
26        2005-01-01 11:00:00
2078      2005-02-05 13:25:00
                 ...
250260    2011-12-24 11:30:00
250261    2011-12-24 11:30:00
250262    2011-12-24 11:30:00
250263    2011-12-24 11:30:00
250295    2011-12-31 16:15:00
Name: ticket_issued_date, Length: 1620, dtype: object

### Вывод штрафов за выходные. Вариант 2

In [43]:
sSatur = dfData.ticket_issued_date[pd.to_datetime(dfData.ticket_issued_date).dt.weekday == 5]
sSun = dfData.ticket_issued_date[pd.to_datetime(dfData.ticket_issued_date).dt.weekday == 6]
pd.concat([sub,vos], axis = 0)

5         2004-05-01 11:50:00
24        2004-11-13 15:30:00
25        2004-11-13 15:30:00
26        2005-01-01 11:00:00
2078      2005-02-05 13:25:00
                 ...
249025    2011-11-20 09:20:00
249124    2011-11-27 16:10:00
249125    2011-11-27 16:10:00
249126    2011-11-27 16:15:00
249127    2011-11-27 16:15:00
Name: ticket_issued_date, Length: 1620, dtype: object